body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
}
header a{
    
}

#highscore{
    
}

main{
    display: flex;
    justify-content: center;
}

section{
    text-align: center;
    
    min-width: 600px;
    min-height: 250px;
    border: 2px dashed black;
    margin-top: 50px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);

}

#gameBlock{
    display: none;
}


